{% extends 'profile_base.html.twig' %}

{% block title %}Greg Suehr{% endblock %}

{% block content %}
<section class="hero-section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 text-content">
                <h1>Hello</h1>
                <p class="intro">I'm Greg, and this is my personal website and professional portfolio.</p>
                <a href="{{ path('profile_contact') }}" class="btn btn-primary">Get In Touch</a>
            </div>
            <div class="col-md-6 text-center">
                <img src="{{ asset('images/profile-welcome-bold_mingjun-liu-unsplash.jpg') }}" alt="Hero Image" class="img-fluid hero-image">
            </div>
        </div>
    </div>
</section>

<section class="about-section bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-content">
                <h2>My Work</h2>
                <p>
                  I am a software developer and writer, and provide design, development, and consulting
                  services for technical and creative professionals.
                </p>
                <a href="{{ path('profile_work') }}" class="btn btn-primary">Explore My Work</a>                
            </div>
        </div>
    </div>
</section>

<section class="highlight-section">
  <div class="container">
    <h2 class="text-left">Technology</h2>
    <div class="row">
      <div class="col-md-4 text-left">
        <img src="{{ asset('images/katzen-feature-bold_toa-heftiba-unsplash.jpg') }}" class="img-fluid">
        <h4>Kitchen Management</h4>
        <p>Katzen is a friendly, capable set of tools designed to helps culinary professionals track inventory, manage recipes</p>
      </div>
      <div class="col-md-4 text-left">
        <img src="{{ asset('images/eclipse_jongsun-lee-unsplash.jpg') }}" class="img-fluid">
        <h4>Physics Simulations</h4>
        <p>We got games! Check out a set lightweight physics simulations created with Three.Js, alongside other neat tools!</p>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-md-4 text-content">
        <div class="col-md-4 text-left">
          <h2 class="text-left">Consulting</h2>
        </div>
        <div>
          <h4>Development Support</h4>
          <p class="text-left">Hire me to help you create technology that’s capable, reliable, and built for people.</p>
        </div>
        <div>
          <h4>Design Services</h4>
          <p class="text-left">Web development and design audits.</p>
        </div>
        <div>
          <h4>Process Consulting</h4>
          <p class="text-left">Practical advice and resources for technologists and other businesses.</p>
        </div>
        <div>
          <h4>Sustainable Growth</h4>
          <p class="text-left">Systems and advising to help you design sustainable projects with long-term impact.</p>
        </div>
        <div>
          <a href="{{ path('profile_contact') }}" class="btn btn-secondary">Get in Touch</a>
        </div>
      </div>
      <div class="col-md-4">
        <img src="{{ asset('images/consulting_scott-graham-unsplash.jpg') }}" class="img-fluid">
      </div>
      <h2 class="text-left">Writing</h2>
      <div class="row">
        <div class="col-md-4 text-center">
          <img src="{{ asset('images/writing-feature-warm_mikhail-pavstyuk-unsplash.jpg') }}" class="img-fluid">
          <h3>Plays and Poems</h3>
          <p>Read from a selection of my work! Purchase scripts, chapbooks, and stickers.</p>
        </div>
        <div class="col-md-4 text-center">
          <img src="{{ asset('images/blog-feature-clutter_clay-banks-unsplash.jpg') }}" class="img-fluid">
          <h3>Blog</h3>
          <p>Reflections on classic essays and stories, translations, and more!</p>
        </div>
      </div>        
    </div>
</section>
{% endblock %}
