{% extends 'base.html.twig' %}

{% block title %}Import Recipe{% endblock %}

{% block body %}
<div class="container mt-4">
    <h2>Import Recipe</h2>
    <p>Select a file to upload or paste JSON below to import a recipe..</p>

    {{ form_start(form) }}
        {{ form_row(form.file) }}
        {{ form_row(form.json_text) }}
        {{ form_row(form.submit) }}
    {{ form_end(form) }}

    <a href="{{ path('app_recipe') }}" class="btn btn-secondary mt-3">Back to Dashboard</a>
</div>
{% endblock %}
