{% extends 'base.html.twig' %}

{% block title %}{{ recipe.title }}{% endblock %}

{% block body %}
    <h1>{{ recipe.title }}</h1>
    <p>{{ recipe.summary }}</p>

    Ingredients:
    <ul>
      {% for ingredient in recipe_ingredients %}
      <li>{{ ingredient.supplyLabel }}</li>
      {% endfor %}
    </ul>
    
    Instructions:
    <ol>
      {% for instruction in recipe.getRecipeInstructions() %}
      <li>{{ instruction.description }}</li>
      {% endfor %}      
    </ol>
{% endblock %}
