{% extends 'client/base.html.twig' %}

{% block content %}
<article class="sections" id="sections">
  <div class="grid masonry">
    <div>
      <img src="{{ asset('assets/client/beal-1.jpg') }}">
    </div>
    <div>
      <img src="{{ asset('assets/client/beal-2.jpg') }}">
    </div>
    <div>
      <img src="{{ asset('assets/client/beal-3.jpg') }}"> 
    </div>
    <div>
      <img src="{{ asset('assets/client/beal-1.jpg') }}">
    </div>
    <div>
      <img src="{{ asset('assets/client/beal-2.jpg') }}">
    </div>
    <div>
      <img src="{{ asset('assets/client/beal-3.jpg') }}">
    </div>        
  </div>
</article>
{% endblock %}
