{% extends 'katzen/base.html.twig' %}

{% block title %}Katzen Recipe Builder{% endblock %}

{% block main_content %}
<script>
document.addEventListener('DOMContentLoaded', () => {
    const container = document.querySelector('[data-prototype]');
    let index = container.children.length;

    const addButton = document.getElementById('add-ingredient');
    addButton.addEventListener('click', () => {
        const prototype = container.dataset.prototype;
        const newForm = document.createElement('div');
        newForm.classList.add('ingredient-form');
        newForm.innerHTML = prototype.replace(/__name__/g, index);
        index++;

        const removeBtn = document.createElement('button');
        removeBtn.type = 'button';
        removeBtn.textContent = 'Remove';
        removeBtn.classList.add('remove-ingredient');
        removeBtn.addEventListener('click', () => {
            newForm.remove();
        });

        newForm.appendChild(removeBtn);
        container.appendChild(newForm);
    });

    document.querySelectorAll('.remove-ingredient').forEach(btn => {
        btn.addEventListener('click', e => {
            e.target.closest('.ingredient-form').remove();
        });
    });
});
</script>

<div>  
	Steps:
	{% include '@CraueFormFlow/FormFlow/stepList.html.twig' %}
</div>
{{ form_start(form) }}
	{{ form_errors(form) }}

        {% include '@CraueFormFlow/FormFlow/buttons.html.twig' %}

	{% if flow.getCurrentStepNumber() == 1 %}
		<div>
			Show us what we're making!<br />
			{{ form_row(form.title) }}
		</div>
                <div>
                  {{ form_rest(form) }}
                </div>
       {% endif %}

       {% if flow.getCurrentStepNumber() == 2 %}
		<div>
		  What are we going to need?<br />
                  
                  <div id="ingredient-form-wrapper">
                    <div data-prototype="{{ form_widget(form.recipeIngredients.vars.prototype)|e('html_attr') }}">
                      {% for ingredientForm in form.recipeIngredients %}
                      <div class="ingredient-form">
                        {{ form_row(ingredientForm.supply) }}
                        {{ form_row(ingredientForm.quantity) }}
                        {{ form_row(ingredientForm.unit) }}
                        {{ form_row(ingredientForm.note) }}
                        <button type="button" class="remove-ingredient">Remove</button>
                      </div>
                      {% endfor %}
                    </div>

                    <button type="button" id="add-ingredient">Add Ingredient</button>
                  </div>
                  
		</div>
                <div>
                  (Don't worry, you can add more later!)
                </div<
                <div>
                  {{ form_rest(form) }}
                </div>
       {% endif %}
                
       {% if flow.getCurrentStepNumber() == 3 %}
		<div>
		  Tell us how to make it happen!<br />

                  <div id="instruction-form-wrapper">
                    <div data-prototype="{{ form_widget(form.recipeInstructions.vars.prototype)|e('html_attr') }}">
                      {% for instructionForm in form.recipeInstructions %}
                      <div class="instruction-form">
                        {{ form_row(instructionForm.supply) }}
                        {{ form_row(instructionForm.quantity) }}
                        {{ form_row(instructionForm.unit) }}
                        {{ form_row(instructionForm.note) }}
                        <button type="button" class="remove-instruction">Remove</button>
                      </div>
                      {% endfor %}
                    </div>

                    <button type="button" id="add-instruction">Add Instruction</button>
                  </div>
                  
		</div>                  

		</div>
                <div>
                  {{ form_rest(form) }}
                </div>
       {% endif %}                

       {% include '@CraueFormFlow/FormFlow/buttons.html.twig' %}                
{{ form_end(form) }}
<div>
  :)
</div>
{% endblock %}
