{% extends 'katzen/_dashboard_base.html.twig' %}

{% block main_content %}
<div class="container mt-4">
    <h2>Import Recipe</h2>
    <p>Select a file to upload or paste JSON below to import a recipe..</p>

    {{ form_start(form) }}
        {{ form_row(form.file) }}
        {{ form_row(form.json_text) }}
        {{ form_row(form.submit) }}
    {{ form_end(form) }}

    <a href="{{ path('prep_dashboard') }}" class="btn btn-secondary mt-3">Back to Dashboard</a>
</div>
{% endblock %}
